<div class="whitespace-nowrap inline-flex gap-1.5 items-center">
  {{~#each parts~}}
    {{~#if this.is_first_symbol~}}
      <span>
    {{~/if~}}

    {{~#if @last~}}
	    <span class="{{#if @first}}text-xl lg:text-2xl leading-none font-bold{{else}}lg:text-xl leading-[0.9em]{{/if}}">
		    {{~this.name~}}
	    </span>
	  {{~else~}}
	    <a class="link {{#if @first}}text-xl lg:text-2xl leading-none font-bold{{else}}lg:text-xl leading-[0.9em]{{/if}}" href="{{this.href}}">
		    {{~this.name~}}
	    </a>

	    {{~#if this.is_symbol~}}
		    <span>.</span>
		    {{~else~}}
		    <span class="text-stone-600">{{~> icons/arrow ~}}</span>
	    {{~/if~}}
    {{~/if~}}

    {{~#if (and @last this.is_symbol)~}}
      </span>
    {{~/if~}}
  {{~/each~}}
</div>
