<ul class="breadcrumbs">
  <li>
    <a href="{{root.href}}" class="contextLink">
      {{~root.name~}}
    </a>
  </li>

  {{~#if current_entrypoint~}}
    <span class="text-black dark:text-white">{{~> icons/arrow ~}}</span>

    <li>
      <select autocomplete="off">
        {{~#each entrypoints~}}
          <option value="{{this.name}}" {{#if (eq (lookup ../current_entrypoint "name") this.name)}}selected{{/if}}>{{this.name}}</option>
        {{~/each~}}
      </select>
    </li>
  {{~/if~}}


  {{~#if symbol~}}
    <span class="text-black dark:text-white">{{~> icons/arrow ~}}</span>

    <ul>
      {{~#each symbol~}}
        <li>
          {{~#if @last~}}
            {{~this.name~}}
          {{~else~}}
            <span>.</span>
            <a href="{{this.href}}" class="contextLink">
              {{~this.name~}}
            </a>
          {{~/if~}}
        </li>
      {{~/each~}}
    </ul>
  {{~/if~}}
</ul>
