<div class="anchorable docEntry" id="{{id}}">
  {{~> anchor anchor ~}}

  <div class="docEntryHeader">
    <span>
      {{~#if tags~}}
        <span class="space-x-1">
          {{~#each tags~}}
            {{~> tag value=this ~}}
          {{~/each~}}
        </span>
      {{~/if~}}

      <code>
        {{~#if name_href~}}
          <a class="font-bold font-lg link" href="{{name_href}}">{{{name}}}</a>
        {{~else~}}
          <span class="font-bold font-lg">{{{name}}}</span>
        {{~/if~}}
        <span class="font-medium text-stone-500">{{{content}}}</span>
      </code>
    </span>

    {{~#if source_href~}}
      {{~> source_button source_href ~}}
    {{~/if~}}
  </div>

  {{~#if js_doc~}}
    <div class="max-w-prose">
      {{{~js_doc~}}} {{! markdown rendering }}
    </div>
  {{~/if~}}
</div>
