<div class="docNodeKindIcon">
  {{~#each this~}}
    <div class="text-{{this.kind}} bg-{{this.kind}}/15 dark:text-{{this.kind}}Dark dark:bg-{{this.kind}}Dark/15" title="{{this.title}}">
      {{~this.char~}}
    </div>
  {{~/each~}}
</div>
