{{~#if implements~}}
  <div>
    <span class="type"> implements </span>
    {{~#each implements~}}
      {{{~this~}}} {{! typedef rendering }}
      {{~#unless @last~}}
        <span>, </span>
      {{~/unless~}}
    {{~/each~}}
  </div>
{{~/if~}}

{{~#with extends~}}
  <div>
    <span class="type"> extends </span>
    {{~#if href ~}}
      <a class="link" href="{{href}}">
        {{~symbol~}}
      </a>
    {{~else~}}
      <span>{{symbol}}</span>
    {{~/if~}}
    <span>{{{type_args}}} {{! typedef rendering }}</span>
  </div>
{{~else~}}
{{~/with~}}
