<div class="namespaceSection">
  {{~#each this~}}
    <div id="{{this.id}}" class="namespaceItem" {{#if this.deprecated}}aria-label="deprecated"{{/if}}>
	    {{~> doc_node_kind_icon this.doc_node_kind_ctx ~}}

	    <div class="namespaceItemContent">
		    <a href="{{this.href}}" title="{{this.name}}">
			    {{~this.name~}}
		    </a>

	      <div>
		      {{~#if this.docs~}}
			      {{{~this.docs~}}} {{! markdown rendering }}
		      {{~else~}}
			      <span class="italic">No documentation available</span>
		      {{~/if~}}
	      </div>
      </div>
    </div>
  {{~/each~}}
</div>
