<section class="section" id="{{header.anchor.id}}">
  <div>
	  <h2 class="anchorable mb-1">
      {{~> anchor header.anchor ~}}

		  {{~#if header.href~}}
			  <a href="{{header.href}}" class="contextLink">{{header.title}}</a>
		  {{~else~}}
			  {{header.title}}
		  {{~/if~}}
	  </h2>

		{{~#if header.doc~}}
			{{{header.doc}}} {{! markdown }}
		{{~/if~}}
  </div>

  {{~#if (eq content.kind "namespace_section")~}}
    {{~> namespace_section content.content ~}}
  {{~else~}}
    <div class="mt-2 space-y-8">
      {{~#each content.content~}}
        {{~> (lookup ../content "kind") this ~}}
      {{~/each~}}
    </div>
  {{~/if~}}
</section>
