<div class="p-4 mb-4 border-2 rounded-lg bg-stone-50 border-stone-200 usage">
  {{~#each usages~}}
    <style scoped>
      {{{~additional_css~}}}
    </style>

    <input type="radio" name="usage" id="{{name}}" class="hidden" {{~#if @first~}}checked{{~/if~}} />
  {{~/each~}}

  <nav class="{{~#unless ../show_tabs~}}hidden{{~/unless}} border-b border-gray-300 flex gap-1 flex-row mb-2">
    {{~#each usages~}}
      <label for="{{name}}" class="md:px-4 px-2 py-1 text-sm md:text-base leading-none rounded-t-md md:hover:bg-gray-100 md:hover:border-b-2">
        {{name}}
      </label>
    {{~/each~}}
  </nav>

  <div>
    {{~#each usages~}}
      <div id="{{name}}_content">
        {{{~content~}}}
      </div>
    {{~/each~}}
  </div>
</div>
