<div class="px-6 py-5 mb-4 border max-md:border-x-0 md:rounded-lg bg-stone-50 border-stone-200 usage">
  {{~#each usages~}}
    <style scoped>
      {{{~additional_css~}}} {{! css }}
    </style>

    <input type="radio" name="usage" id="{{name}}" class="hidden" {{~#if @first~}}checked{{~/if~}} />
  {{~/each~}}

	{{~#if ../show_tabs~}}
	  <nav class="flex items-center flex-row gap-2 mb-3 font-semibold">
		  <span>Usage instructions for</span>

		  <div>
			  <input type="checkbox" id="usageDropdownInput" class="hidden peer" />

			  <label for="usageDropdownInput" class="flex gap-1 select-none cursor-pointer">
				  {{~#each usages~}}
					  <div id="{{name}}_active_dropdown" class="hidden items-center gap-1">
						  <div class="h-4 *:h-4 *:w-auto">{{{icon}}} {{! icon }}</div>
						  <div class="leading-none">{{name}}</div>
					  </div>
				  {{~/each~}}

				  <div class="rotate-90">
					  {{~> icons/arrow }}
				  </div>
			  </label>

			  <div class="md:relative hidden peer-checked:block" id="usageDropdown">
				  <div class="absolute max-md:inset-x-0 mt-1.5 p-2 block z-30 md:w-72 bg-white md:rounded border max-md:border-x-0 border-gray-300">
					  {{~#each usages~}}
						  <label for="{{name}}" class="flex items-center justify-between cursor-pointer select-none px-2 py-1 leading-normal rounded-sm hover:bg-gray-50">
							  <div>{{name}}</div>

							  <div class="h-5 *:h-5 *:w-auto">{{{icon}}} {{! icon }}</div>
						  </label>
					  {{~/each~}}
				  </div>
			  </div>
		  </div>
	  </nav>
	{{~/if}}

  <div>
    {{~#each usages~}}
      <div id="{{name}}_content">
        {{{~content~}}} {{! markdown rendering }}
      </div>
    {{~/each~}}
  </div>
</div>
